@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Quicksand:wght@400;700&family=Satisfy&display=swap');


body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
}
li{
    list-style: none;
    font-family: 'Catamaran', sans-serif;
}
p{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: 'Catamaran', sans-serif;
}
.header{
    display: flex;
    width: 20%;
    height: 100vh;
}
.header__title{
    padding-left: 0;
    margin: 0;
    display: flex;
    width:90%;
    height: 30%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.875rem;
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
    font-weight: 400;
    color: whitesmoke;
}
.header__nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.header__list{
    padding-left: 5px;
    margin: 0;
    display: flex;
    width: 90%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.875rem;
}
.main{
    display: flex;
    width: 55%;
    height: 100%;
    flex-direction: column;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.container_histories{
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card__histories{
    display: flex;
    flex-direction: column;
    height: 110px;
}
.histories__img{
    width: 3.8em;
    height: 3.8em;
    border-radius: 2em ;
    border: solid rgb(160, 67, 23) 2px;
    background-color: blueviolet;
}
.main__container__post{
    padding-top: 5%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.card__post{
    width: 70%;
    height: 500px; 
    padding-bottom: 200px;
}
.post__name{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
.post__profile{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}
.post__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post__header--photo{
    width: 2rem;
    height: 2rem;
    border-radius: 1.3rem ;
    border: solid rgb(160, 67, 23) 2px;
    background-color: blueviolet; 
}
.picture{
    padding-top:10px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.interact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.buttons__interact{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 2rem;
}
.btn{
    width: 2.2rem;
    height: 1.7rem;
    border: 0;
    background: none;
    color: whitesmoke;
    border-radius: 2rem;
    border: solid black ;
}
.footer__post{
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: .3125rem;
}
.footer__info__container{
    display: flex;
    width: 100%;
    height: 7%;
    flex-direction: row;
}
.footer__username{
    padding-right: .3125rem;
}
.footer__comments{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.375rem;
}
.comments{
    border:0;
    color: white;
    background-color: black;
}
.content__final{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}
.aside{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 30rem;
    padding-top: 50px;
    padding-left: 40px;   
}
.user{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.aside__user{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user__img{
    width: 43px;
    height: 43px;
    border-radius: 25px;
    background-color: blueviolet;
    border: rgb(167, 91, 20); 
}
.user__name{
    padding-left: 12px;
    padding-bottom: 17px;
}
.suggestion__account{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aside__suggestions{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    padding:0;
    padding-top: 40px;
    /* justify-content: space-around; */
}
.suggestions{
    padding: 0;
    margin: 0;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.suggestion_profile{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.suggestion__img{
    width: 43px;
    height: 43px;
    border-radius: 25px;
    background-color: blueviolet;
    border: rgb(167, 91, 20);
}
.suggestion__name{
    padding-left: 10px;
    padding-top: 5px;
}
.follow{
    padding-right: 40px;
    padding-top: 17px;
    font-size: medium;
}
.change{
    padding-right: 40px;
    font-size: medium;
}
.footer{
    width: 100%;
    height: 40%;
    padding-left: 35px;
}
.footer__links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.links{
    padding-right: 5px;
    font-size: small;
    font-weight: 400;
}
.copy__img{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: .9375rem;
}
.footer__title{
    color: whitesmoke;
}
#template{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border: solid whitesmoke .125rem;
    overflow-x: hidden;
    background-color: black;
}
@media  screen and(max-width:300px) {
    #template{
        display: grid;
        grid-template-areas: 
        "";
    }
}