body{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    
    color: black
    /* color: whitesmoke; */
}
li{
    list-style: none;
}
p{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    width: 20%;
    height: 100vh;
}
.header__title{
    padding-left: 0;
    margin: 0;
    display: flex;
    width:90%;
    height: 30%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.875rem;
}
.header__nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.header__list{
    padding-left: 5px;
    margin: 0;
    display: flex;
    width: 90%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.875rem;
}
.main{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.container_histories{
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card__histories{
    display: flex;
    flex-direction: column;
    height: 110px;
}
.histories__img{
    width: 3.8em;
    height: 3.8em;
    border-radius: 2em ;
    border: solid rgb(160, 67, 23) 2px;
    background-color: blueviolet;
}
.main__container__post{
    padding-top: 5%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.card__post{
    width: 70%;
    height: 500px;
    
}
.post__name{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
.post__profile{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    /* justify-content: ; */
}
.post__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post__header--photo{
    width: 2rem;
    height: 2rem;
    border-radius: 1.3rem ;
    border: solid rgb(160, 67, 23) 2px;
    background-color: blueviolet; 
}
.picture{
    padding-top:10px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.interact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.buttons__interact{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .3125rem;
}
.btn{
    border: 0;
    background: none;
}
.footer__post{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    padding-top: .3125rem;
}
.footer__info__container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.footer__username{
    padding-right: .3125rem;
}













.copy__img{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: .9375rem;
}
#template{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: black; */
    border: solid whitesmoke .125rem;
}

